<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>crud</title>
  <link rel="stylesheet" href="/css/libCSS/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="">
</head>

<body>
  <a href="test.hbs">go to test.hbs</a>
  <h1 class="text-center">{{ message }}</h1>
  <form method="POST">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-success" id="getUser">Get users</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="" id="demo">

  </div>
  <script src="/js/libJS/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/libJS/popper.min.js"></script>
  <script src="/js/libJS/bootstrap.min.js"></script>
  <script src="/js/ajaxsend.js"></script>
</body>

</html>
